
<style>

  .historia{
    text-align: justify;
    display: inline;
    float:left;
    width: 48%;
    margin-right: 2%;
  }

  .crono{
    text-align: justify;
    display: inline;
    float:right;
    width: 50%;
  }

  .container{
        margin: 0 auto;
        text-align: center;
        width: 60%;
  }

  .menu-ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  .menu-li { float: left; }
  .menu-li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   }

   .menu-li a:hover{
     background-color: #111;
   }
</style>


<div class="container">
    <h1>El opensource y el software libre</h1>
    <%= link_to image_tag('codigo-abierto.jpg'), 'http://www.google.com.mx' %>

    <ul class="menu-ul">
      <li class="menu-li"><%= link_to 'Home', root_path %></li>
      <li class="menu-li"><%= link_to 'About',about_path %></li>
      <li class="menu-li"><%= link_to 'Articles', articles_path %></li>
    </ul>

   <div class="historia">
    <h2>Historia</h2>
    <p>Se utilizó por primera vez en 1990 las comunidades de software libre, tratando de usarlo como reemplazo al ambiguo nombre original en inglés del software libre (free software). Lo cual implica, para el caso que nos ocupa, «software que podemos usar, escribir, modificar y redistribuir gratuitamente» (software gratuito) y, según la acepción española de libertad.</p>

    <p>La expresión, para algunos, no resultó apropiada como reemplazo para el ya tradicional free software, pues eliminaba la idea de libertad, confundida con la simple gratuidad. No obstante continúa siendo ambivalente, puesto que se usa en la actualidad por parte de programadores que no ofrecen software libre pero, en cambio, sí ofrecen el código fuente de los programas para su revisión o modificación previamente autorizada por parte de sus pares académicos.</p>

    <p>Dada la ausencia de tal ambigüedad en la lengua española, el término software libre es adecuado para referirse a programas que se ofrecen con total libertad de modificación, uso y distribución bajo la regla implícita de no modificar dichas libertades hacia el futuro. De hecho en inglés también se usa el término «libre software» para evitar ambigüedades semánticas.</p>

    <p>Desde el punto de vista de una «traducción estrictamente literal», el significado textual de código abierto es que «se puede examinar el código fuente», por lo que puede ser interpretado como un término más débil y flexible que el del software libre. Sin embargo, ambos movimientos reconocen el mismo conjunto de licencias y mantienen principios equivalentes.</p>

    <p>Sin embargo, hay que diferenciar los programas de código abierto, que dan a los usuarios la libertad de mejorarlos, de los programas que simplemente tienen el código fuente disponible, previa restricciones sobre su uso o modificación.</p>

    <p>En la actualidad el código abierto se utiliza para definir un movimiento nuevo de software (la Iniciativa Open Source), diferente al movimiento del software libre, incompatible con este último desde el punto de vista filosófico, y completamente equivalente desde el punto de vista práctico, de hecho, ambos movimientos trabajan juntos en el desarrollo práctico de proyectos.</p>

    <p>La idea bajo el concepto de código abierto es sencilla: cuando los programadores (en Internet) pueden leer, modificar y redistribuir el código fuente de un programa, este evoluciona, se desarrolla y mejora. Los usuarios lo adaptan a sus necesidades, corrigen sus errores con un tiempo de espera menor a la aplicada en el desarrollo de software convencional o cerrado, dando como resultado la producción de un mejor software.</p>

  </div>

 <div class="crono">
 <h2>Cronología</h2>
 <ul>
   <li> 27 de septiembre de 1983: Richard Stallman inicia el proyecto GNU.
   <li> 25 de agosto de 1991: Linus Torvalds publica un mensaje en el grupo de noticias USENET comp.os.minix acerca del nuevo kernel de tipo Unix (Linux) que ha estado desarrollando.
   <li> 22 de enero de 1998: Netscape anuncia que liberará el código fuente de Navigator.
   <li> 3 de febrero de 1998: en la reunión de Palo Alto se acuña el término open source y durante la semana siguiente Bruce Perens y Eric S. Raymond lanzan opensource.org.
   <li> 31 de marzo de 1998: el código de Navigator ya está disponible: en unas horas, mejoras del programa invaden la red.
   <li> 7 de mayo de 1998: Corel Corporation anuncia Netwinder, un ordenador económico que corre bajo GNU/Linux.
   <li> 11 de mayo de 1998: Corel anuncia sus planes de adaptar WordPerfect y el resto de sus programas de ofimática a GNU/Linux.
   <li> 28 de mayo de 1998: Sun Microsystems y Adaptec se unen a Linux International, las primeras grandes empresas vendedoras de equipos y sistemas operativos en hacerlo.
   <li> 13-17 de julio de 1998: Oracle e Informix anuncian que conectarán sus bases de datos a GNU/Linux.
   <li> 10 de agosto de 1998: Sun Microsystems ofrece Solaris a usuarios individuales e instituciones educativas o sin ánimo de lucro.
   <li> 1 de noviembre de 1998: se publican los Halloween Documents: planes de Microsoft contra GNU/Linux y otros proyectos código abierto.
   <li> 16 de diciembre de 1998: IDG anuncia que la cuota de mercado del GNU/Linux se incrementó un 212% en 1998.
   <li> 1-5 de marzo de 1999: LinuxWorld Conference and Expo: primera exposición sobre GNU/Linux. HP, IBM, SAP inician el comienzo del apoyo de las firmas comerciales.
   <li> 15 de marzo de 1999: Apple lanza Darwin bajo licencia código abierto.
   <li> 4 de junio de 1999: Microsoft afirma que Linux vende más que Windows 98 en las grandes superficies.1​
   <li> 8 de junio de 2015: Apple anuncia Swift 2 bajo licencia código abierto.
 </ul>

<p>Entre 1998 y 2000 se observó un gran crecimiento en la popularidad de GNU/Linux y de la formación de muchas empresas «pro software de código abierto». El movimiento también capturó la atención de la principal industria del software, llevando al software de código abierto las ofertas de compañías de software consolidadas como Sun Microsystems con StarOffice e IBM con OpenAFS.</p>
 </div>

</div>
